<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>TEST GO</title>
	</head>
	<body>

		{{range .}}
		<article>
			<h2>{{.Title}}</h2>
			<p>{{.Description}}</p>
			<a href="{{.URL}}">Read more...</a>
		</article>
		{{end}}
		
	</body>
</html>
